@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');






/* Path: style.css */

body {
    font-family: 'Source Code Pro', monospace;
    color: antiquewhite;
    background: linear-gradient(45deg,#030001, #010002);

    padding: 0;
    margin: 0;
}

@keyframes color {
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0 100%;
    }
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    margin-left: 15%;
    margin-right: 15%;

    padding-top: 10%;
    padding-bottom: 5%;
}

.sec_border{
   margin-left: 15%;
   margin-right: 15%;
    border-bottom: antiquewhite 3px dashed;
}
.mario{

    font-family: 'Press Start 2P', system-ui;
    font-size: 25px;
    border-right: 4px solid;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation:
        /* typing 2s steps(17), */
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
}


.hidden{
    opacity: 0.1;
    filter: blur(10px);
    /* transform: translateX(-100%); */
    transition: all 2s ;
    transition-delay: 0.5s;

}

.mario_none{
    display: none;

}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

a{
    color: aqua;
    background-color: transparent;
    text-decoration: none;
  }

.nav_text{
    position: relative;
}

.nav_text_current{
    position: relative;
}

.nav_text::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: red;


    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in, background 400ms ease-in;

}

.nav_text_current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: antiquewhite;

}

.nav_text:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    background: antiquewhite;
}

.chess{
    font-family: 'Arvo', serif;
    font-size: 36px;
    border-right: 4px solid;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation:
        /* typing 2s steps(17), */
        cursor .4s step-end infinite alternate;
}

.selfdriving{
    font-family: 'Bruno Ace', sans-serif;
    font-size: 36px;
    border-right: 4px solid;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation:
        /* typing 2s steps(17), */
        cursor .4s step-end infinite alternate;
}

.pieces{
    font-size: 50px;
}

.sequential{
    opacity: 0;
    animation:
        sequential 1s ease-in-out forwards;  
}



.sign{
    
    font-family: 'Nanum Pen Script', cursive;
    font-size: 100px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    width: 100%;
    animation:
        typing 1.5s steps(11),
        cursor .4s step-end infinite alternate;
        
}

.sign_header{
    
    position: relative;
    margin-left: 3%;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: antiquewhite;

}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-items: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 1% 1%;
    z-index: 9999;
    background-color: #010002;
}



header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li{
    position: relative;
    list-style: none;
    width: 150px;
}

header ul li a{
    position: relative;
    margin: 0 10%;
    text-decoration: none;
    color: antiquewhite;
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
}

@keyframes sequential {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bat{
    font-family: 'Bangers', cursive;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    width: 100%;
    animation:
        typing 1.5s steps(11),
        cursor .4s step-end infinite alternate;
}

.ihear{
    font-family: 'Cairo Play', sans-serif;
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    width: 100%;
    animation:
        typing 1.5s steps(11),
        cursor .4s step-end infinite alternate;
}

footer{
    display: grid;
    height: 60px;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-items: center;
    align-items: center;
    transition: 0.6s;
    padding: 1% 1%;
    z-index: 9999;
    background-color: #010002;
}

#board {
    background-color: black;
}